@model HealthShark.Models.Models.ViewModels.UserAssignmentVM
@using HealthShark.Utility



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Update Customer</h1>
<form method="post">

    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="col-4">
                <label asp-for="@Model.User.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.User.Name" class="form-control" disabled />

            </div>
            <div class="col-4">
                <label asp-for="@Model.UserPlan.Description"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.UserPlan.Description" class="form-control" disabled />

            </div>

            <div class="col-4">
                <label asp-for="@Model.UserPlan.Duration"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.UserPlan.Duration" class="form-control" disabled />
            </div>

            <div class="col-4">
                <label>BMI</label>
            </div>
            <div class="col-8">
                <input asp-for="@(Model.userVM.BMI)" class="form-control" disabled />
            </div>
            <div class="col-4">
                <label>Current Weight</label>
            </div>
            <div class="col-8">
                <input asp-for="@(Model.userVM.Weight)" class="form-control" disabled />
            </div>
            <div class="col-4">
                <label>Current Height</label>
            </div>
            <div class="col-8">
                <input asp-for="@(Model.userVM.Height)" class="form-control" disabled />
            </div>






            @if (User.IsInRole(SD.Role_Trainer))
            {
                <div class="col-4">
                    <label>Current Diet</label>
                </div>
                <div class="col-8">
                    <input value="@(Model.DietId == null? "Not Assigned" : Model.Diet.Type)" class="form-control" disabled />
                </div>


                <div class="col-4">
                                   <label>Body Type</label>
                               </div>

                               <div class="col-8">

                                   @Html.DropDownListFor(m => m.BodyTypeId, new SelectList(Model.bodyTypes, "Id", "Description"),
                "Please select a body type", new { @class = "form-control" })

                               </div>



                               <div class="col-4">
                                   <label>Work out</label>
                               </div>

                               <div class="col-8">


                                   @Html.DropDownListFor(m => m.WorkoutId, new SelectList(Model.workOuts, "Id", "Type"),
                "Please select a workout", new { @class = "form-control" })

                               </div>

            }

            @if (User.IsInRole(SD.Role_Dietician))
            {
                <div class="col-4">
                    <label>Diet</label>
                </div>

                <div class="col-8">
                    @Html.DropDownListFor(m => m.DietId, new SelectList(Model.diets, "Id", "Type"),
 "-Please select a diet", new { @class = "form-control" })

                </div>

                <div class="col-4">
                    <label>Workout Assigned</label>
                </div>
                <div class="col-8">
                    <input value="@(Model.WorkoutId == null? "Not Assigned" : Model.WorkOut.Description)" class="form-control" disabled />
                </div>
                <div class="col-4">
                    <label>Body Type</label>
                </div>
                <div class="col-8">
                    <input value="@(Model.BodyTypeId == null? "Not Assigned" : Model.BodyType.Description)" class="form-control" disabled />
                </div>
            }

            <div class="form-group row mt-2">
                <div class="col-12">
                    <div class="row ml-1">
                        <div class="col">
                            <a class="btn btn-success" asp-action="Index" asp-area="Admin" asp-controller="EmployeeAssignment" onclick="return confirm('You sure want to leave this page?')">Back To Details</a>
                        </div>
                        @if (User.IsInRole(SD.Role_Trainer))
                        {
                            <div class="col">
                                <button type="submit" class="btn btn-primary text-white px-3" asp-route-id="@Model.Id" asp-route-workOutId="@Model.WorkoutId" asp-route-bodyTypeId="@Model.BodyTypeId" asp-route-dietId="@null">Update</button>
                            </div>
                        }

                        @if (User.IsInRole(SD.Role_Dietician))
                        {
                            <div class="col">
                                <button type="submit" class="btn btn-primary text-white px-3" asp-route-id="@Model.Id" asp-route-workOutId="@null" asp-route-bodyTypeId="@null" asp-route-dietId="@Model.DietId">Update</button>
                            </div>
                        }




                    </div>

                </div>

            </div>













        </div>

        <div class="col-4">
            <img src=@Model.userVM.ImageUrl class="img-fluid rounded mt-4" />
        </div>



    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}


