@model HealthShark.Models.Models.ViewModels.UserVM

@{
    ViewData["Title"] = "Home Page";
}


<h2 class="text-success">Customer Details</h2>

<div class="row">

    <div class="col-8">
        <form method="post" enctype="multipart/form-data">




            <div class="form-group">
                <label>Name</label>
                <input class="form-control" value="@Model.User.Name" disabled />
            </div>

            <div class="form-group">
                <label>Address</label>
                <input class="form-control" value="@Model.User.Address" disabled />
            </div>


            <div class="form-group">
                <label>Weight</label>
                <input class="form-control" value="@Model.Weight" disabled />
                <span asp-validation-for="@Model.Weight"></span>
            </div>


            <div class="form-group">
                <label>Height</label>
                <input class="form-control" value="@Model.Height" disabled />
                <span asp-validation-for="@Model.Height"></span>
            </div>


            <div class="form-group">
                <label>Medical History</label>
                <input class="form-control" value="@Model.MedicalHistory" disabled />
                <span asp-validation-for="@Model.MedicalHistory"></span>
            </div>



            <div class="form-group">
                <label>Allergies</label>
                <input class="form-control" value="@Model.Allergies" disabled />
                <span asp-validation-for="@Model.Allergies"></span>
            </div>


            <div class="form-group">
                <label>BMI</label>
                <input class="form-control" value="@(String.IsNullOrEmpty(Model.BMI) ? "No weight and height provided": Model.BMI)" disabled />

            </div>





            <div class="form-group">
                <a class="btn btn-success" asp-action="Update" asp-area="Customer" asp-route-id="@Model.Id"><i class="fas fa-edit"></i>&nbsp;Edit</a>

                <a class="btn btn-primary" asp-action="Index" asp-area="Admin" asp-controller="UserAssignment"><i class="fas fa-list"></i>&nbsp;Plans</a>

            </div>














        </form>
    </div>
    <div class="col-4">
        <img src=@Model.ImageUrl class="img-fluid rounded mt-4" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

}
